/*雪碧图*/
@mixin channel_info_icon{height:14px;width:14px;background-position: 0 0;}
@mixin channel_danger_icon{height:14px;width:14px;background-position: 0 -14px;}
@mixin channel_warning_icon{height:14px;width:14px;background-position: 0 -28px;}
@mixin channel_success_icon{height:14px;width:14px;background-position: 0 -42px;}
@mixin analysis_plus{height:14px;width:14px;background-position: 0 -56px;}
@mixin analysis_good{height:14px;width:14px;background-position: 0 -70px;}
@mixin exit{height:16px;width:16px;background-position: 0 -84px;}
@mixin nav_sub{height:16px;width:16px;background-position: 0 -100px;}
@mixin s_nav_sub{height:16px;width:16px;background-position: 0 -116px;}
@mixin user{height:16px;width:16px;background-position: 0 -132px;}
@mixin s_nav03{height:20px;width:20px;background-position: 0 -148px;}
@mixin s_nav02{height:20px;width:20px;background-position: 0 -168px;}
@mixin nav08{height:20px;width:20px;background-position: 0 -188px;}
@mixin nav09{height:20px;width:20px;background-position: 0 -208px;}
@mixin s_nav01{height:20px;width:20px;background-position: 0 -228px;}
@mixin s_nav07{height:20px;width:20px;background-position: 0 -248px;}
@mixin s_nav08{height:20px;width:20px;background-position: 0 -268px;}
@mixin s_nav09{height:20px;width:20px;background-position: 0 -288px;}
@mixin s_nav04{height:20px;width:20px;background-position: 0 -308px;}
@mixin s_nav05{height:20px;width:20px;background-position: 0 -328px;}
@mixin s_nav06{height:20px;width:20px;background-position: 0 -348px;}
@mixin nav02{height:20px;width:20px;background-position: 0 -368px;}
@mixin nav03{height:20px;width:20px;background-position: 0 -388px;}
@mixin analysis_selected{height:20px;width:20px;background-position: 0 -408px;}
@mixin nav01{height:20px;width:20px;background-position: 0 -428px;}
@mixin nav06{height:20px;width:20px;background-position: 0 -448px;}
@mixin nav07{height:20px;width:20px;background-position: 0 -468px;}
@mixin nav04{height:20px;width:20px;background-position: 0 -488px;}
@mixin nav05{height:20px;width:20px;background-position: 0 -508px;}
@mixin spsx{height:24px;width:24px;background-position: 0 -528px;}
@mixin triggerBtn{height:24px;width:24px;background-position: 0 -552px;}
@mixin wdhd{height:24px;width:24px;background-position: 0 -576px;}
@mixin analysis01{height:24px;width:24px;background-position: 0 -600px;}
@mixin dbsx{height:24px;width:24px;background-position: 0 -624px;}
@mixin nav_btn{height:24px;width:24px;background-position: 0 -648px;}
@mixin analysis03{height:24px;width:24px;background-position: 0 -672px;}
@mixin analysis02{height:24px;width:24px;background-position: 0 -696px;}
@mixin success_icon{height:16px;width:48px;background-position: 0 -720px;}


